header {
  background: linear-gradient(90deg,
      rgba(11, 62, 39, 1) 0%,
      rgba(25, 113, 73, 1) 100%);
  width: 100%;
  height: 111px;
  position: absolute;
  left: 0px;
  top: 0px;
}

.menut,
.poshykt,
.lokaciat,
.liket {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  position: absolute;
  top: 7px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.menup,
.poshykp,
.lokaciap,
.likep {
  width: 18px;
  height: 18px;
  position: absolute;
  left: 8px;
  top: 10px;
  overflow: visible;
}

.menu {
  width: 102px;
  height: 36px;
  position: absolute;
  left: 92px;
  top: 38px;
}

.menut {
  left: 34px;
  width: 55px;
}

.logo {
  width: 52.9px;
  height: 56px;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
}

.poshyk {
  width: 95.64px;
  height: 38px;
  position: absolute;
  left: 816px;
  top: 38px;
}

.poshykt {
  left: 34.25px;
  width: 53.59px;
}

.lokacia {
  height: 38px;
  position: absolute;
  right: 210px;
  left: 958px;
  top: 38px;
}

.lokaciat {
  left: 46px;
  width: 66px;
}

.like {
  height: 38px;
  position: absolute;
  right: 47px;
  left: 1125px;
  top: 38px;
}

.liket {
  left: 31.25px;
  width: 78.08px;
}

.history {
  width: 100%;
  height: 545px;
  position: absolute;
  left: 0px;
  top: 194px;
  overflow: hidden;
}

.historyp {
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: 0px;
  top: 0px;
  overflow: hidden;
  object-fit: cover;
}

.historyt1,
.historyt2 {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  position: absolute;
  left: 50%;
  translate: -50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.historyt1 {
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 2.5px;
  font-weight: 400;
  top: 245px;
  width: 132px;
  height: 28px;
}

.historyt2 {
  font-size: 95.41230773925781px;
  line-height: 94.91px;
  font-weight: 700;
  top: 259px;
  width: 779px;
  height: 147px;
}

.text {
  width: 100%;
  position: absolute;
  left: -1px;
  bottom: 8504px;
  top: 743px;
}

.textsmall {
  background: linear-gradient(120.55deg,
      rgba(16, 99, 61, 1) 0%,
      rgba(26, 145, 90, 1) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 48.046875px;
  line-height: 60px;
  font-weight: 700;
  position: absolute;
  left: 86px;
  top: 103px;
  width: 443px;
  height: 239px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.textbig {
  color: #212121;
  text-align: left;
  font-family: "Inter-Light", sans-serif;
  font-size: 20px;
  line-height: 55px;
  font-weight: 300;
  position: absolute;
  left: 529px;
  top: 39px;
  width: 699px;
  height: 439px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.datejust {
  width: 100%;
  position: absolute;
  left: 0px;
  height: 624px;
  top: 1258px;
  overflow: hidden;
}

.datejustp {
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: 0px;
  top: 0px;
  overflow: hidden;
  object-fit: cover;
}

.air-king1,
.air-king2,
.deepsea1,
.deepsea2,
.sea-dweller1,
.sea-dweller2,
.day-date1,
.day-date2,
.submariner1,
.submariner2,
.datejust1,
.datejust2 {
  color: #f8f8f8;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  position: absolute;
  left: 90px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.sky-dweller1,
.sky-dweller2,
.lady-datejust1,
.lady-datejust2,
.yacht-master1,
.yacht-master2,
.cosmograph-daytona1,
.cosmograph-daytona2,
.gmt-master-ii1,
.gmt-master-ii2 {
  color: #212121;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  position: absolute;
  left: 90px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.datejust1,
.submariner1,
.gmt-master-ii1,
.day-date1,
.cosmograph-daytona1,
.yacht-master1,
.sea-dweller1,
.deepsea1,
.air-king1,
.lady-datejust1,
.sky-dweller1 {
  font-size: 47px;
  line-height: 60px;
  font-weight: 700;
  top: 400px;
  width: 400px;
  height: 60px;
}

.datejust2,
.submariner2,
.gmt-master-ii2,
.day-date2,
.cosmograph-daytona2,
.yacht-master2,
.sea-dweller2,
.deepsea2,
.air-king2,
.lady-datejust2,
.sky-dweller2 {
  font-size: 30px;
  line-height: 40px;
  font-weight: 300;
  position: absolute;
  top: 500px;
  width: 470Spx;
  height: 40px;
}

.datejustp,
.submarinerp,
.gmt-master-iip,
.day-datep,
.cosmograph-daytonap,
.yacht-masterp,
.sea-dwellerp,
.deepseap,
.air-kingp,
.lady-datejustp,
.sky-dwellerp {
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: 0px;
  top: 0px;
  overflow: hidden;
  object-fit: cover;
}

.datejust,
.submariner,
.gmt-master-ii,
.day-date,
.cosmograph-daytona,
.yacht-master,
.sea-dweller,
.deepsea,
.air-king,
.lady-datejust,
.sky-dweller {
  width: 100%;
  position: absolute;
  left: 0px;
  height: 624px;
  overflow: hidden;
}

.submariner {
  bottom: 7256px;
  top: 1882px;
}

.gmt-master-ii {
  bottom: 6632px;
  top: 2506px;
}

.day-date {
  bottom: 6008px;
  top: 3130px;
}

.cosmograph-daytona {
  bottom: 5384px;
  top: 3754px;
}

.yacht-master {
  bottom: 4766px;
  top: 4372px;
}

.sea-dweller {
  bottom: 4142px;
  top: 4996px;
}

.deepsea {
  bottom: 3518px;
  top: 5620px;
}

.air-king {
  bottom: 2900px;
  top: 6238px;
}

.lady-datejust {
  bottom: 2276px;
  top: 6862px;
}

.sky-dweller {
  bottom: 1652px;
  top: 7486px;
}

.futer-1 {
  background: #ffffff;
  height: 92px;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 8110px;
  overflow: auto;
}

.share {
  color: #212121;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 15.5px;
  line-height: 22px;
  font-weight: 700;
  position: absolute;
  left: 101px;
  top: 34.48px;
  width: 97px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.program {
  width: 232px;
  height: 24px;
  position: absolute;
  left: 213.75px;
  top: 34px;
}

.pinterest,
.facebook,
.threads {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 10px;
  overflow: visible;
}

.pinterest {
  left: 8px;
}

.facebook {
  left: 44px;
}

.threads {
  left: 80px;
}

.futer-2 {
  background: #f8f8f8;
  height: 501px;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 8202px;
}

.logof {
  width: 87.28px;
  height: 50px;
  position: absolute;
  left: 68px;
  top: 46px;
}

.logof1 {
  width: 27.39%;
  height: 52.03%;
  position: absolute;
  right: 36.02%;
  left: 36.59%;
  bottom: 46.78%;
  top: 1.19%;
  overflow: visible;
}

.logof2 {
  width: 98.54%;
  height: 31.18%;
  position: absolute;
  right: 0.58%;
  left: 0.87%;
  bottom: 3.22%;
  top: 65.59%;
  overflow: visible;
}

.new-watches-2024,
.find-your-rolex,
.configure-your-rolex,
.men-s-watches,
.women-s-watches,
.gold-watches,
.cosmograph-daytonaf,
.day-datef,
.sky-dwellerf,
.gmt-master-iif,
.deepseaf,
._1908f,
.tennis,
.golf,
.yachting,
.motor-sport,
.equestrianism {
  color: #212121;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 15.8px;
  line-height: 29px;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: 2px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.new-watches-2024,
.find-your-rolex,
.configure-your-rolex,
.men-s-watches,
.women-s-watches,
.gold-watches,
.cosmograph-daytonaf,
.day-datef,
.sky-dwellerf,
.gmt-master-iif,
.deepseaf,
._1908f,
.tennis,
.golf,
.yachting,
.motor-sport,
.equestrianism {
  height: 29px;
  position: absolute;
  left: 0px;
}

.thecollection1,
.rolex-watches1,
.sport1 {
  color: #212121;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 24.78125px;
  line-height: 28.64px;
  font-weight: 700;
  position: absolute;
  left: 0px;
  top: -5px;
  width: 250px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.futert {
  height: 384px;
  position: absolute;
  right: 56px;
  left: 271px;
  top: 87px;
}

.rolex-watches {
  height: 200px;
  position: absolute;
  right: 770px;
  left: 0px;
  top: 0px;
}

.rolex-watches2 {
  height: 171.75px;
  position: absolute;
  right: 7.8px;
  left: 0px;
  top: 28.62px;
}

.new-watches-2024 {
  width: 146px;
  top: 0px;
}

.find-your-rolex {
  width: 117px;
  top: 29px;
}

.configure-your-rolex {
  width: 160px;
  top: 58px;
}


.men-s-watches {
  width: 112px;
  top: 91px;
}

.women-s-watches {
  width: 136px;
  top: 116px;
}

.gold-watches {
  width: 103.34px;
  top: 145px;
}

.thecollection {
  height: 198px;
  position: absolute;
  right: 41px;
  left: 730px;
  top: -5px;
}

.thecollection2 {
  height: 171px;
  position: absolute;
  right: 8px;
  left: 0px;
  top: 33px;
}

.cosmograph-daytonaf {
  width: 163.83px;
  top: 0.5px
}

.day-datef {
  width: 70.7px;
  top: 29px;
}

.gmt-master-iif {
  width: 106.47px;
  top: 58px;
}

.sky-dwellerf {
  width: 90px;
  top: 86px;
}

.deepseaf {
  width: 66px;
  top: 115px;
}

._1908f {
  width: 38px;
  top: 145px;
}

.sport {
  height: 172px;
  position: absolute;
  right: 393px;
  left: 353px;
  top: 0px;
}

.sport2 {
  height: 143.13px;
  position: absolute;
  right: 7.8px;
  left: 0px;
  top: 28.62px;
}

.tennis {
  width: 48.9px;
  top: 0px;
}

.golf {
  width: 32px;
  top: 28.63px;
}

.yachting {
  width: 66px;
  top: 57.25px;
}

.motor-sport {
  width: 88.15px;
  top: 85.88px;
}

.equestrianism {
  width: 107.5px;
  top: 114.5px;
}

.picture {
  position: absolute;
  width: 100%;
  right: 0px;
  left: 0px;
  bottom: 0px;
  top: 8703px;
  overflow: hidden;
  object-fit: cover;
}