header {
  background: linear-gradient(90deg,
      rgba(11, 62, 39, 1) 0%,
      rgba(25, 113, 73, 1) 100%);
  width: 100%;
  height: 111px;
  position: absolute;
  left: 0px;
  top: 0px;
}

.menut,
.poshykt,
.lokaciat,
.liket {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  position: absolute;
  top: 7px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.menup,
.poshykp,
.lokaciap,
.likep {
  width: 18px;
  height: 18px;
  position: absolute;
  left: 8px;
  top: 10px;
  overflow: visible;
}

.menu {
  width: 102px;
  height: 36px;
  position: absolute;
  left: 92px;
  top: 38px;
}

.menut {
  left: 34px;
  width: 55px;
}

.logo {
  width: 52.9px;
  height: 56px;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
}

.poshyk {
  width: 95.64px;
  height: 38px;
  position: absolute;
  left: 816px;
  top: 38px;
}

.poshykt {
  left: 34.25px;
  width: 53.59px;
}

.lokacia {
  height: 38px;
  position: absolute;
  right: 210px;
  left: 958px;
  top: 38px;
}

.lokaciat {
  left: 46px;
  width: 66px;
}

.like {
  height: 38px;
  position: absolute;
  right: 47px;
  left: 1125px;
  top: 38px;
}

.liket {
  left: 31.25px;
  width: 78.08px;
}

.post {
  width: 1289px;
  height: 690px;
  position: absolute;
  left: 0px;
  top: 162px;
  overflow: hidden;
}

.posterframe {
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: 0px;
  top: 0px;
  overflow: hidden;
  object-fit: cover;
}

.post2 {
  height: 136px;
  position: absolute;
  right: 423.73px;
  left: 424px;
  top: 284px;
}

.post3,
.post4 {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  position: absolute;
  left: 50%;
  translate: -50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.post3 {
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 2.5px;
  font-weight: 400;
  top: 0px;
  width: 494.33px;
  height: 28px;
}

.post4 {
  font-size: 96px;
  line-height: 95px;
  font-weight: 700;
  top: 1px;
  width: 786.95px;
  height: 147px;
}

.dov {
  width: 1289px;
  position: absolute;
  left: 0px;
  bottom: 4181px;
  top: 852px;
}

.dov1 {
  background: linear-gradient(144.85deg,
      rgba(16, 99, 61, 1) 0%,
      rgba(26, 145, 90, 1) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 47.0703125px;
  line-height: 60px;
  font-weight: 700;
  position: absolute;
  left: 119px;
  top: 99px;
  width: 386px;
  height: 106px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.dov2,
.dov3 {
  color: #212121;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  line-height: 32px;
  position: absolute;
  left: 664px;
  width: 536px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.dov2 {
  font-size: 19.0625px;
  font-weight: 700;
  top: 13px;
  height: 95px;
}

.dov3 {
  font-size: 20px;
  font-weight: 300;
  top: 152px;
  height: 148px;
}

.tenis {
  width: 1291px;
  position: absolute;
  left: 0px;
  bottom: 3557px;
  top: 1176px;

}

.tenis2,
.tenis3 {
  color: #f8f8f8;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  position: absolute;
  left: 131px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.tenis2 {
  font-size: 48px;
  line-height: 60px;
  font-weight: 700;
  top: 432px;
  width: 387px;
  height: 60px;
}

.tenis3 {
  font-size: 30px;
  line-height: 40px;
  font-weight: 300;
  top: 513px;
  width: 729px;
  height: 40px;
}

.golf {
  width: 1291px;
  position: absolute;
  left: -2px;
  bottom: 2936px;
  top: 1800px;
}

.golf2,
.golf3 {
  color: #f8f8f8;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  position: absolute;
  left: 91px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.golf2 {
  font-size: 48px;
  line-height: 60px;
  font-weight: 700;
  top: 416px;
  width: 332.36px;
  height: 60px;
}

.golf3 {
  font-size: 30px;
  line-height: 40px;
  font-weight: 300;
  top: 497px;
  width: 682px;
  height: 40px;
}

.yach {
  width: 1291px;
  position: absolute;
  left: -2px;
  bottom: 2312px;
  top: 2421px;

}


.yach2,
.yach3 {
  color: #f8f8f8;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  position: absolute;
  left: 107px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.yach2 {
  font-size: 47px;
  line-height: 60px;
  font-weight: 700;
  top: 377px;
  width: 665px;
  height: 60px;
}

.yach3 {
  font-size: 30px;
  line-height: 40.02px;
  font-weight: 300;
  top: 464px;
  width: 697px;
  height: 84px;
}

.moto {
  width: 1291px;
  position: absolute;
  left: -2px;
  bottom: 1688px;
  top: 3045px;

}


.moto2,
.moto3 {
  color: #f8f8f8;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  position: absolute;
  left: 91px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.moto2 {
  font-size: 48px;
  line-height: 60px;
  font-weight: 700;
  top: 361px;
  width: 583px;
  height: 119px;
}

.moto3 {
  font-size: 30px;
  line-height: 40px;
  font-weight: 300;
  top: 502px;
  width: 683px;
  height: 40px;
}

.hors {
  width: 1289px;
  position: absolute;
  left: 0px;
  bottom: 1064px;
  top: 3669px;

}


.hors2,
.hors3 {
  color: #f8f8f8;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  position: absolute;
  left: 130px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.hors2 {
  font-size: 48px;
  line-height: 60px;
  font-weight: 700;
  top: 428px;
  width: 576.2px;
  height: 60px;
}

.hors3 {
  font-size: 29.8828125px;
  line-height: 40.02px;
  font-weight: 300;
  top: 509px;
  width: 783.98px;
  height: 40.02px;
}

.futer-1 {
  background: #ffffff;
  height: 92px;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 4293px;
  overflow: auto;
}

.share {
  color: #212121;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 15.5px;
  line-height: 22px;
  font-weight: 700;
  position: absolute;
  left: 101px;
  top: 34.48px;
  width: 97px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.program {
  width: 232px;
  height: 24px;
  position: absolute;
  left: 213.75px;
  top: 34px;
}

.pinterest,
.facebook,
.threads {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 10px;
  overflow: visible;
}

.pinterest {
  left: 8px;
}

.facebook {
  left: 44px;
}

.threads {
  left: 80px;
}

.futer-2 {
  background: #f8f8f8;
  height: 501px;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 4385px;
}

.logof {
  width: 87.28px;
  height: 50px;
  position: absolute;
  left: 68px;
  top: 46px;
}

.logof1 {
  width: 27.39%;
  height: 52.03%;
  position: absolute;
  right: 36.02%;
  left: 36.59%;
  bottom: 46.78%;
  top: 1.19%;
  overflow: visible;
}

.logof2 {
  width: 98.54%;
  height: 31.18%;
  position: absolute;
  right: 0.58%;
  left: 0.87%;
  bottom: 3.22%;
  top: 65.59%;
  overflow: visible;
}

.new-watches-2024,
.find-your-rolex,
.configure-your-rolex,
.men-s-watches,
.women-s-watches,
.gold-watches,
.cosmograph-daytonaf,
.day-datef,
.sky-dwellerf,
.gmt-master-iif,
.deepseaf,
._1908f,
.tennis,
.golf,
.yachting,
.motor-sport,
.equestrianism {
  color: #212121;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 15.8px;
  line-height: 29px;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: 2px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.new-watches-2024,
.find-your-rolex,
.configure-your-rolex,
.men-s-watches,
.women-s-watches,
.gold-watches,
.cosmograph-daytonaf,
.day-datef,
.sky-dwellerf,
.gmt-master-iif,
.deepseaf,
._1908f,
.tennis,
.golf,
.yachting,
.motor-sport,
.equestrianism {
  height: 29px;
  position: absolute;
  left: 0px;
}

.thecollection1,
.rolex-watches1,
.sport1 {
  color: #212121;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 24.78125px;
  line-height: 28.64px;
  font-weight: 700;
  position: absolute;
  left: 0px;
  top: -5px;
  width: 250px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.futert {
  height: 384px;
  position: absolute;
  right: 56px;
  left: 271px;
  top: 87px;
}

.rolex-watches {
  height: 200px;
  position: absolute;
  right: 770px;
  left: 0px;
  top: 0px;
}

.rolex-watches2 {
  height: 171.75px;
  position: absolute;
  right: 7.8px;
  left: 0px;
  top: 28.62px;
}

.new-watches-2024 {
  width: 146px;
  top: 0px;
}

.find-your-rolex {
  width: 117px;
  top: 29px;
}

.configure-your-rolex {
  width: 160px;
  top: 58px;
}


.men-s-watches {
  width: 112px;
  top: 91px;
}

.women-s-watches {
  width: 136px;
  top: 116px;
}

.gold-watches {
  width: 103.34px;
  top: 145px;
}

.thecollection {
  height: 198px;
  position: absolute;
  right: 41px;
  left: 730px;
  top: -5px;
}

.thecollection2 {
  height: 171px;
  position: absolute;
  right: 8px;
  left: 0px;
  top: 33px;
}

.cosmograph-daytonaf {
  width: 163.83px;
  top: 0.5px
}

.day-datef {
  width: 70.7px;
  top: 29px;
}

.gmt-master-iif {
  width: 106.47px;
  top: 58px;
}

.sky-dwellerf {
  width: 90px;
  top: 86px;
}

.deepseaf {
  width: 66px;
  top: 115px;
}

._1908f {
  width: 38px;
  top: 145px;
}

.sport {
  height: 172px;
  position: absolute;
  right: 393px;
  left: 353px;
  top: 0px;
}

.sport2 {
  height: 143.13px;
  position: absolute;
  right: 7.8px;
  left: 0px;
  top: 28.62px;
}

.tennis {
  width: 48.9px;
  top: 0px;
}

.golf {
  width: 32px;
  top: 28.63px;
}

.yachting {
  width: 66px;
  top: 57.25px;
}

.motor-sport {
  width: 88.15px;
  top: 85.88px;
}

.equestrianism {
  width: 107.5px;
  top: 114.5px;
}

.picture {
  position: absolute;
  width: 100%;
  left: 0px;
  top: 4886px;
}