header {
  background: linear-gradient(90deg,
      rgba(11, 62, 39, 1) 0%,
      rgba(25, 113, 73, 1) 100%);
  width: 100%;
  height: 111px;
  position: absolute;
  left: 0px;
  top: 0px;
}

.menut,
.poshykt,
.lokaciat,
.liket {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  position: absolute;
  top: 7px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.menup,
.poshykp,
.lokaciap,
.likep {
  width: 18px;
  height: 18px;
  position: absolute;
  left: 8px;
  top: 10px;
  overflow: visible;
}

.menu {
  width: 102px;
  height: 36px;
  position: absolute;
  left: 92px;
  top: 38px;
}

.menut {
  left: 34px;
  width: 55px;
}

.logo {
  width: 52.9px;
  height: 56px;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
}

.poshyk {
  width: 95.64px;
  height: 38px;
  position: absolute;
  left: 816px;
  top: 38px;
}

.poshykt {
  left: 34.25px;
  width: 53.59px;
}

.lokacia {
  height: 38px;
  position: absolute;
  right: 210px;
  left: 958px;
  top: 38px;
}

.lokaciat {
  left: 46px;
  width: 66px;
}

.like {
  height: 38px;
  position: absolute;
  right: 47px;
  left: 1125px;
  top: 38px;
}

.liket {
  left: 31.25px;
  width: 78.08px;
}

.kar {
  width: 100%;
  height: 594px;
  position: absolute;
  left: 0px;
  top: 161px;
  overflow: hidden;
}

.kar1 {
  background: #000000;
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: 0px;
  top: 0px;
}

.kar2 {
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: 0px;
  top: 0px;
  overflow: hidden;
}

.kar3,
.kar4 {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  position: absolute;
  left: 50%;
  translate: -50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.kar3 {
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 2.5px;
  font-weight: 400;
  top: 386px;
  width: 418px;
  height: 28px;
}

.kar4 {
  font-size: 97px;
  line-height: 95px;
  font-weight: 700;
  top: 191px;
  width: 971px;
  height: 195px;
}

.tex {
  width: 100%;
  position: absolute;
  left: 0px;
  bottom: 4125px;
  top: 785px;
}

.tex1 {
  position: absolute;
  right: 761px;
  left: 65px;
  bottom: 0px;
  top: 0px;
}

.tex2 {
  background: linear-gradient(137.9deg,
      rgba(16, 99, 61, 1) 0%,
      rgba(26, 145, 90, 1) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 47.265625px;
  line-height: 60px;
  font-weight: 700;
  position: absolute;
  left: 0px;
  top: 40px;
  width: 479px;
  height: 333px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.text3,
.text4 {
  color: #212121;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  position: absolute;
  left: 622px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.tex3 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  top: 114px;
  width: 647px;
  height: 61px;
}

.tex4 {
  font-size: 20px;
  line-height: 32px;
  font-weight: 300;
  top: 229px;
  width: 584px;
  height: 93px;
}

.dys {
  position: absolute;
  left: 119px;
  right: 119px;
  top: 1295px;
  width: 100%;
  height: 599px;
}

.dys2,
.dys3 {
  color: #f8f8f8;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  position: absolute;
  left: 67px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.dys2 {
  font-size: 48px;
  line-height: 60px;
  font-weight: 700;
  top: 350px;
  width: 558px;
  height: 67px;
}

.dys3 {
  font-size: 30px;
  line-height: 40px;
  font-weight: 300;
  top: 437px;
  width: 832px;
  height: 124px;
}

.buy {
  width: 1289px;
  position: absolute;
  left: 0px;
  bottom: 2600px;
  top: 2021px;
}

.buy2,
.buy3 {
  color: #f8f8f8;
  text-align: left;
  font-family: "Inter-Light", sans-serif;
  position: absolute;
  left: 106px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.buy2 {
  font-size: 48px;
  line-height: 60px;
  font-weight: 700;
  top: 383px;
  width: 598px;
  height: 60px;
}

.buy3 {
  font-size: 30px;
  line-height: 40px;
  font-weight: 300;
  top: 468px;
  width: 789px;
  height: 164px;
}

.novyn {
  background: linear-gradient(120.55deg,
      rgba(16, 99, 61, 1) 0%,
      rgba(26, 145, 90, 1) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-family: "InknutAntiqua-Bold", sans-serif;
  font-size: 96px;
  line-height: 100px;
  font-weight: 700;
  position: absolute;
  left: 385px;
  top: 2778px;
  width: 519px;
  height: 198px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gmt-master {
  width: 100%;
  position: absolute;
  left: 0px;
  bottom: 1640px;
  top: 3060px;

}

.gmt-master2,
.gmt-master3 {
  color: #212121;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  position: absolute;
  left: 87px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.gmt-master2 {
  font-size: 46px;
  line-height: 60px;
  font-weight: 700;
  top: 387px;
  width: 326.36px;
  height: 60px;
}

.gmt-master3 {
  font-size: 29px;
  line-height: 40px;
  font-weight: 300;
  top: 460px;
  width: 458px;
  height: 80px;
}

.day-date {
  width: 100%;
  position: absolute;
  left: 0%;
  bottom: 1640px;
  top: 3684px;
}

.day-date2,
.day-date3 {
  color: #f8f8f8;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  position: absolute;
  left: 113px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.day-date2 {
  font-size: 47px;
  line-height: 60px;
  font-weight: 700;
  top: 389px;
  width: 218px;
  height: 60px;
}

.day-date3 {
  font-size: 30px;
  line-height: 40px;
  font-weight: 300;
  top: 449px;
  width: 602.61px;
  height: 84.02px;
}

.futer-1 {
  background: #ffffff;
  height: 92px;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 4293px;
  overflow: auto;
}

.share {
  color: #212121;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 15.5px;
  line-height: 22px;
  font-weight: 700;
  position: absolute;
  left: 101px;
  top: 34.48px;
  width: 97px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.program {
  width: 232px;
  height: 24px;
  position: absolute;
  left: 213.75px;
  top: 34px;
}

.pinterest,
.facebook,
.threads {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 10px;
  overflow: visible;
}

.pinterest {
  left: 8px;
}

.facebook {
  left: 44px;
}

.threads {
  left: 80px;
}

.futer-2 {
  background: #f8f8f8;
  height: 501px;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 4385px;
}

.logof {
  width: 87.28px;
  height: 50px;
  position: absolute;
  left: 68px;
  top: 46px;
}

.logof1 {
  width: 27.39%;
  height: 52.03%;
  position: absolute;
  right: 36.02%;
  left: 36.59%;
  bottom: 46.78%;
  top: 1.19%;
  overflow: visible;
}

.logof2 {
  width: 98.54%;
  height: 31.18%;
  position: absolute;
  right: 0.58%;
  left: 0.87%;
  bottom: 3.22%;
  top: 65.59%;
  overflow: visible;
}

.new-watches-2024,
.find-your-rolex,
.configure-your-rolex,
.men-s-watches,
.women-s-watches,
.gold-watches,
.cosmograph-daytonaf,
.day-datef,
.sky-dwellerf,
.gmt-master-iif,
.deepseaf,
._1908f,
.tennis,
.golf,
.yachting,
.motor-sport,
.equestrianism {
  color: #212121;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 15.8px;
  line-height: 29px;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: 2px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.new-watches-2024,
.find-your-rolex,
.configure-your-rolex,
.men-s-watches,
.women-s-watches,
.gold-watches,
.cosmograph-daytonaf,
.day-datef,
.sky-dwellerf,
.gmt-master-iif,
.deepseaf,
._1908f,
.tennis,
.golf,
.yachting,
.motor-sport,
.equestrianism {
  height: 29px;
  position: absolute;
  left: 0px;
}

.thecollection1,
.rolex-watches1,
.sport1 {
  color: #212121;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 24.78125px;
  line-height: 28.64px;
  font-weight: 700;
  position: absolute;
  left: 0px;
  top: -5px;
  width: 250px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.futert {
  height: 384px;
  position: absolute;
  right: 56px;
  left: 271px;
  top: 87px;
}

.rolex-watches {
  height: 200px;
  position: absolute;
  right: 770px;
  left: 0px;
  top: 0px;
}

.rolex-watches2 {
  height: 171.75px;
  position: absolute;
  right: 7.8px;
  left: 0px;
  top: 28.62px;
}

.new-watches-2024 {
  width: 146px;
  top: 0px;
}

.find-your-rolex {
  width: 117px;
  top: 29px;
}

.configure-your-rolex {
  width: 160px;
  top: 58px;
}


.men-s-watches {
  width: 112px;
  top: 91px;
}

.women-s-watches {
  width: 136px;
  top: 116px;
}

.gold-watches {
  width: 103.34px;
  top: 145px;
}

.thecollection {
  height: 198px;
  position: absolute;
  right: 41px;
  left: 730px;
  top: -5px;
}

.thecollection2 {
  height: 171px;
  position: absolute;
  right: 8px;
  left: 0px;
  top: 33px;
}

.cosmograph-daytonaf {
  width: 163.83px;
  top: 0.5px
}

.day-datef {
  width: 70.7px;
  top: 29px;
}

.gmt-master-iif {
  width: 106.47px;
  top: 58px;
}

.sky-dwellerf {
  width: 90px;
  top: 86px;
}

.deepseaf {
  width: 66px;
  top: 115px;
}

._1908f {
  width: 38px;
  top: 145px;
}

.sport {
  height: 172px;
  position: absolute;
  right: 393px;
  left: 353px;
  top: 0px;
}

.sport2 {
  height: 143.13px;
  position: absolute;
  right: 7.8px;
  left: 0px;
  top: 28.62px;
}

.tennis {
  width: 48.9px;
  top: 0px;
}

.golf {
  width: 32px;
  top: 28.63px;
}

.yachting {
  width: 66px;
  top: 57.25px;
}

.motor-sport {
  width: 88.15px;
  top: 85.88px;
}

.equestrianism {
  width: 107.5px;
  top: 114.5px;
}

.picture {
  position: absolute;
  width: 100%;
  left: 0px;
  top: 4886px;
}