.desktop-1,
.desktop-1 * {
  box-sizing: border-box;
}
.desktop-1 {
  background: #ffffff;
  height: 5357px;
  position: relative;
  overflow: hidden;
}
.figure-picture-rolex-com-footer-rolex-org-push-cc-69-1587746 {
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: 0px;
  top: 4886px;
  overflow: hidden;
  object-fit: cover;
}
.futer-2 {
  background: #f8f8f8;
  height: 501px;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 4385px;
}
.section-svg {
  width: 87.28px;
  height: 50px;
  position: absolute;
  left: 68px;
  top: 46px;
}
.vector {
  width: 27.39%;
  height: 52.03%;
  position: absolute;
  right: 36.02%;
  left: 36.59%;
  bottom: 46.78%;
  top: 1.19%;
  overflow: visible;
}
.group {
  width: 98.54%;
  height: 31.18%;
  position: absolute;
  right: 0.58%;
  left: 0.87%;
  bottom: 3.22%;
  top: 65.59%;
  overflow: visible;
}
.nav-list {
  height: 384px;
  position: absolute;
  right: 56px;
  left: 271px;
  top: 87px;
}
.item {
  height: 200px;
  position: absolute;
  right: 770px;
  left: 0px;
  top: 0px;
}
.link {
  height: 28.63px;
  position: absolute;
  right: 7.8px;
  left: 0px;
  top: 0px;
}
.rolex-watches {
  color: #212121;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 24.78125px;
  line-height: 28.64px;
  font-weight: 700;
  position: absolute;
  left: 0px;
  top: -5px;
  width: 176.87px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.list {
  height: 171.75px;
  position: absolute;
  right: 7.8px;
  left: 0px;
  top: 28.62px;
}
.item-link {
  width: 145.39px;
  height: 28.63px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.new-watches-2024 {
  color: #212121;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 15.875px;
  line-height: 28.64px;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: 2px;
  width: 145.59px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.item-link2 {
  width: 117.05px;
  height: 28.63px;
  position: absolute;
  left: 0px;
  top: 28.63px;
}
.find-your-rolex {
  color: #212121;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 28.64px;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: 2px;
  width: 117.25px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.item-link3 {
  width: 159.39px;
  height: 28.63px;
  position: absolute;
  left: 0px;
  top: 57.25px;
}
.configure-your-rolex {
  color: #212121;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 28.64px;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: 2px;
  width: 159.59px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.item-link4 {
  width: 111.73px;
  height: 28.63px;
  position: absolute;
  left: 0px;
  top: 85.88px;
}
.men-s-watches {
  color: #212121;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 15.75px;
  line-height: 28.64px;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: 2px;
  width: 111.93px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.item-link5 {
  width: 135.78px;
  height: 28.63px;
  position: absolute;
  left: 0px;
  top: 114.5px;
}
.women-s-watches {
  color: #212121;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 15.875px;
  line-height: 28.64px;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: 2px;
  width: 135.98px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.item-link6 {
  width: 103.14px;
  height: 28.63px;
  position: absolute;
  left: 0px;
  top: 143.13px;
}
.gold-watches {
  color: #212121;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 15.875px;
  line-height: 28.64px;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: 2px;
  width: 103.34px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.item2 {
  height: 198px;
  position: absolute;
  right: 41px;
  left: 730px;
  top: -5px;
}
.link2 {
  height: 29px;
  position: absolute;
  right: -20px;
  left: 0px;
  top: 0px;
}
.the-collection {
  color: #212121;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 24.578125px;
  line-height: 28.64px;
  font-weight: 700;
  position: absolute;
  left: 0px;
  top: -5px;
  width: 171.42px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.list2 {
  height: 171px;
  position: absolute;
  right: 8px;
  left: 0px;
  top: 33px;
}
.item-link7 {
  width: 163.63px;
  height: 28.63px;
  position: absolute;
  left: 1px;
  top: 0.38px;
}
.cosmograph-daytona {
  color: #212121;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 15.875px;
  line-height: 28.64px;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: 2px;
  width: 163.83px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.item-link8 {
  width: 70.5px;
  height: 28.63px;
  position: absolute;
  left: 1px;
  top: 29px;
}
.day-date {
  color: #212121;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 15.625px;
  line-height: 28.64px;
  font-weight: 400;
  position: absolute;
  left: -0.2px;
  top: -3.48px;
  width: 70.7px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.item-link9 {
  width: 106px;
  height: 39px;
  position: absolute;
  left: -7px;
  top: 86px;
}
.sky-dweller {
  color: #212121;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 15.75px;
  line-height: 28.64px;
  font-weight: 400;
  position: absolute;
  left: 7.8px;
  top: 14.77px;
  width: 90.53px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.gmt-master-ii {
  color: #212121;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 15.75px;
  line-height: 28.64px;
  font-weight: 400;
  position: absolute;
  left: 1px;
  top: 50px;
  width: 106.47px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.item-link10 {
  width: 66.03px;
  height: 28.63px;
  position: absolute;
  left: 0px;
  top: 257.63px;
}
.deepsea {
  color: #212121;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 15.875px;
  line-height: 28.64px;
  font-weight: 400;
  position: absolute;
  left: 1px;
  top: 74px;
  width: 66.23px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.item-link11 {
  width: 37.91px;
  height: 28.63px;
  position: absolute;
  left: -12px;
  top: 142.38px;
}
._1908 {
  color: #212121;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 28.64px;
  font-weight: 400;
  position: absolute;
  left: 1px;
  top: 125px;
  width: 38.11px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.item3 {
  height: 172px;
  position: absolute;
  right: 393px;
  left: 353px;
  top: 0px;
}
.rolex-and-sports {
  color: #212121;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 24.984375px;
  line-height: 28.64px;
  font-weight: 700;
  position: absolute;
  left: 0px;
  top: -5px;
  width: 204.98px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.list3 {
  height: 143.13px;
  position: absolute;
  right: 7.8px;
  left: 0px;
  top: 28.62px;
}
.item-link12 {
  width: 48.7px;
  height: 28.63px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.tennis {
  color: #212121;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 15.875px;
  line-height: 28.64px;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: 2px;
  width: 48.9px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.item-link13 {
  width: 32.23px;
  height: 28.63px;
  position: absolute;
  left: 0px;
  top: 28.63px;
}
.golf {
  color: #212121;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 28.64px;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: 2px;
  width: 32.43px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.item-link14 {
  width: 65.52px;
  height: 28.63px;
  position: absolute;
  left: 0px;
  top: 57.25px;
}
.yachting {
  color: #212121;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 28.64px;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: 2px;
  width: 65.72px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.item-link15 {
  width: 87.95px;
  height: 28.63px;
  position: absolute;
  left: 0px;
  top: 85.88px;
}
.motor-sport {
  color: #212121;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 15.75px;
  line-height: 28.64px;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: 2px;
  width: 88.15px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.item-link16 {
  width: 107.3px;
  height: 28.63px;
  position: absolute;
  left: 0px;
  top: 114.5px;
}
.equestrianism {
  color: #212121;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 28.64px;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: 2px;
  width: 107.5px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.item4 {
  height: 122px;
  position: absolute;
  right: 385px;
  left: 353px;
  top: 226px;
}
.list4 {
  height: 85.88px;
  position: absolute;
  right: 7.8px;
  left: 0px;
  top: 28.62px;
}
.item-link17 {
  width: 98.2px;
  height: 28.63px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.store-locator {
  color: #212121;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 28.64px;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: 2px;
  width: 98.4px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.item-link18 {
  width: 113.3px;
  height: 28.63px;
  position: absolute;
  left: 0px;
  top: 28.63px;
}
.buying-a-rolex {
  color: #212121;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 28.64px;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: 2px;
  width: 113.5px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.item-link19 {
  width: 202.09px;
  height: 28.63px;
  position: absolute;
  left: 0px;
  top: 57.25px;
}
.rolex-certified-pre-owned {
  color: #212121;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 15.875px;
  line-height: 28.64px;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: 2px;
  width: 202.29px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.link3 {
  height: 29px;
  position: absolute;
  right: 430px;
  left: 352px;
  top: 212px;
}
.buying-a-rolex2 {
  color: #212121;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 25.1875px;
  line-height: 28.64px;
  font-weight: 700;
  position: absolute;
  left: 0px;
  top: -5px;
  width: 180.31px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.futer-1 {
  background: #ffffff;
  height: 92px;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 4293px;
  overflow: auto;
}
.div {
  color: #212121;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 15.5px;
  line-height: 22px;
  font-weight: 700;
  position: absolute;
  left: 101px;
  top: 34.48px;
  width: 97px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.list5 {
  width: 232px;
  height: 24px;
  position: absolute;
  left: 213.75px;
  top: 34px;
}
.item-link-share-this-page-via-threads-open-in-popin {
  width: 32px;
  height: 40px;
  position: absolute;
  left: 0px;
  top: 50%;
  translate: 0 -50%;
}
.img {
  width: 16px;
  height: 16px;
  position: absolute;
  left: 8px;
  top: 10px;
  overflow: visible;
}
.item-link-share-this-page-via-facebook-open-in-popin {
  width: 32px;
  height: 40px;
  position: absolute;
  left: 40px;
  top: 50%;
  translate: 0 -50%;
}
.img2 {
  width: 16px;
  height: 16px;
  position: absolute;
  left: 8px;
  top: 10px;
  overflow: visible;
}
.item-link-share-this-page-via-pinterest-open-in-popin {
  width: 32px;
  height: 40px;
  position: absolute;
  left: 160px;
  top: 50%;
  translate: 0 -50%;
}
.img3 {
  width: 16px;
  height: 16px;
  position: absolute;
  left: 88.25px;
  top: 2px;
  overflow: visible;
}
.aside-5 {
  width: 1289px;
  position: absolute;
  left: 0px;
  bottom: 1064px;
  top: 3669px;
  overflow: hidden;
}
.figure-picture-rolex-and-sports-hub-equestrianism-push-aach-22-ps-0334 {
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: 0px;
  top: 0px;
  overflow: hidden;
  object-fit: cover;
}
.heading-2-rolex-and-equestrianism {
  color: #f8f8f8;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 47.8515625px;
  line-height: 60px;
  font-weight: 700;
  position: absolute;
  left: 130px;
  top: 428px;
  width: 576.2px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div2 {
  color: #f8f8f8;
  text-align: left;
  font-family: "Inter-Light", sans-serif;
  font-size: 29.8828125px;
  line-height: 40.02px;
  font-weight: 300;
  position: absolute;
  left: 130px;
  top: 509px;
  width: 783.98px;
  height: 40.02px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.aside-4 {
  width: 1291px;
  position: absolute;
  left: -2px;
  bottom: 1688px;
  top: 3045px;
  overflow: hidden;
}
.figure-picture-rolex-and-sports-hub-motor-sports-push-dayt-20-sc-05481-r {
  position: absolute;
  right: 0px;
  left: -1px;
  bottom: 0px;
  top: 0px;
  overflow: hidden;
  object-fit: cover;
}
.heading-2-rolex-and-motor-sport {
  color: #f8f8f8;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 47.8515625px;
  line-height: 60px;
  font-weight: 700;
  position: absolute;
  left: 91px;
  top: 361px;
  width: 583px;
  height: 119px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div3 {
  color: #f8f8f8;
  text-align: left;
  font-family: "Inter-Light", sans-serif;
  font-size: 30px;
  line-height: 40.02px;
  font-weight: 300;
  position: absolute;
  left: 91px;
  top: 502px;
  width: 683px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.aside-3 {
  width: 1291px;
  position: absolute;
  left: -2px;
  bottom: 2312px;
  top: 2421px;
  overflow: hidden;
}
.figure-picture-rolex-and-sports-hub-yachting-push-syho-19-ka-2212 {
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: 0px;
  top: 0px;
  overflow: hidden;
  object-fit: cover;
}
.heading-2-rolex-and-yachting {
  color: #f8f8f8;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 47.65625px;
  line-height: 60px;
  font-weight: 700;
  position: absolute;
  left: 107px;
  top: 377px;
  width: 665px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div4 {
  color: #f8f8f8;
  text-align: left;
  font-family: "Inter-Light", sans-serif;
  font-size: 30px;
  line-height: 40.02px;
  font-weight: 300;
  position: absolute;
  left: 107px;
  top: 464px;
  width: 697.53px;
  height: 84.01px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.aside-2 {
  width: 1291px;
  position: absolute;
  left: -2px;
  bottom: 2936px;
  top: 1800px;
  overflow: hidden;
}
.figure-picture-rolex-and-sports-hub-golf-push-bop-19-tl-022 {
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: 0px;
  top: 0px;
  overflow: hidden;
  object-fit: cover;
}
.heading-2-rolex-and-golf {
  color: #f8f8f8;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 48.046875px;
  line-height: 60px;
  font-weight: 700;
  position: absolute;
  left: 91px;
  top: 416px;
  width: 332.36px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div5 {
  color: #f8f8f8;
  text-align: left;
  font-family: "Inter-Light", sans-serif;
  font-size: 30px;
  line-height: 40.02px;
  font-weight: 300;
  position: absolute;
  left: 91px;
  top: 497px;
  width: 682px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.aside-1 {
  width: 1291px;
  position: absolute;
  left: 0px;
  bottom: 3557px;
  top: 1176px;
  overflow: hidden;
}
.figure-picture-rolex-and-sports-hub-tennis-push-rod-laver-crt-101322-iso-04 {
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: 0px;
  top: 0px;
  overflow: hidden;
  object-fit: cover;
}
.heading-2-rolex-and-tennis {
  color: #f8f8f8;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 48.046875px;
  line-height: 60px;
  font-weight: 700;
  position: absolute;
  left: 131px;
  top: 432px;
  width: 387.31px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div6 {
  color: #f8f8f8;
  text-align: left;
  font-family: "Inter-Light", sans-serif;
  font-size: 29.8828125px;
  line-height: 40.02px;
  font-weight: 300;
  position: absolute;
  left: 131px;
  top: 513px;
  width: 729.15px;
  height: 40.02px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.section {
  width: 1289px;
  position: absolute;
  left: 0px;
  bottom: 4181px;
  top: 852px;
}
.heading-2-a-long-term-commitment {
  background: linear-gradient(
    144.85deg,
    rgba(16, 99, 61, 1) 0%,
    rgba(26, 145, 90, 1) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 47.0703125px;
  line-height: 60px;
  font-weight: 700;
  position: absolute;
  left: 119px;
  top: 99px;
  width: 386px;
  height: 106px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.rolex {
  color: #212121;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 19.0625px;
  line-height: 32px;
  font-weight: 700;
  position: absolute;
  left: 664px;
  top: 13px;
  width: 536px;
  height: 95px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div7 {
  color: #212121;
  text-align: left;
  font-family: "Inter-Light", sans-serif;
  font-size: 20px;
  line-height: 32px;
  font-weight: 300;
  position: absolute;
  left: 664px;
  top: 152px;
  width: 537px;
  height: 148px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.header {
  width: 1289px;
  height: 690px;
  position: absolute;
  left: 0px;
  top: 162px;
  overflow: hidden;
}
.picture-rolex-and-sports-hub-cover-autoplay-posterframe {
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: 0px;
  top: 0px;
  overflow: hidden;
  object-fit: cover;
}
.rolex-and-sports2 {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  overflow: hidden;
}
.hgroup {
  height: 135.7px;
  position: absolute;
  right: 423.73px;
  left: 423.7200012207031px;
  top: 283.55px;
}
.div8 {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 2.5px;
  font-weight: 400;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 0px;
  width: 494.33px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.heading-1-rolex-and-sports {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 95.9976577758789px;
  line-height: 94.91px;
  font-weight: 700;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 1px;
  width: 786.95px;
  height: 147px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.background {
  background: linear-gradient(
    90deg,
    rgba(11, 62, 39, 1) 0%,
    rgba(25, 113, 73, 1) 100%
  );
  width: 1289px;
  height: 111px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.list-item-button {
  width: 102px;
  height: 36px;
  position: absolute;
  left: 92px;
  top: 38px;
}
.div9 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  position: absolute;
  left: 34px;
  top: 8px;
  width: 55px;
  height: 23px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.svg {
  width: 18px;
  height: 18px;
  position: absolute;
  left: 8px;
  top: 10px;
  overflow: visible;
}
.figure-link-go-to-home-page {
  width: 52.9px;
  height: 56px;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
}
.svg2 {
  width: 36.9px;
  height: 40px;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
}
.vector2 {
  width: 98.57%;
  height: 98.17%;
  position: absolute;
  right: 0.65%;
  left: 0.77%;
  bottom: 0.86%;
  top: 0.97%;
  overflow: visible;
}
.vector3 {
  width: 98.57%;
  height: 97.97%;
  position: absolute;
  right: 0.47%;
  left: 0.95%;
  bottom: 1.22%;
  top: 0.81%;
  overflow: visible;
}
.vector4 {
  width: 98.57%;
  height: 98.17%;
  position: absolute;
  right: 0.65%;
  left: 0.77%;
  bottom: 0.86%;
  top: 0.97%;
  overflow: visible;
}
.vector5 {
  width: 98.57%;
  height: 98.17%;
  position: absolute;
  right: 0.65%;
  left: 0.77%;
  bottom: 0.86%;
  top: 0.97%;
  overflow: visible;
}
.vector6 {
  width: 11.74%;
  height: 10.83%;
  position: absolute;
  right: 87.38%;
  left: 0.88%;
  bottom: 64.96%;
  top: 24.21%;
  overflow: visible;
}
.vector7 {
  width: 13.3%;
  height: 12.26%;
  position: absolute;
  right: 67.09%;
  left: 19.61%;
  bottom: 80.03%;
  top: 7.72%;
  overflow: visible;
}
.vector8 {
  width: 12.31%;
  height: 12.27%;
  position: absolute;
  right: 44.06%;
  left: 43.63%;
  bottom: 86.71%;
  top: 1.03%;
  overflow: visible;
}
.vector9 {
  width: 13.43%;
  height: 12.84%;
  position: absolute;
  right: 19.93%;
  left: 66.64%;
  bottom: 79.35%;
  top: 7.81%;
  overflow: visible;
}
.vector10 {
  width: 13.13%;
  height: 12.24%;
  position: absolute;
  right: 0.73%;
  left: 86.13%;
  bottom: 63.61%;
  top: 24.16%;
  overflow: visible;
}
.group2 {
  width: 88.36%;
  height: 91.72%;
  position: absolute;
  right: 1.3%;
  left: 10.34%;
  bottom: 2.6%;
  top: 5.68%;
  overflow: visible;
}
.vector11 {
  width: 66.86%;
  height: 66.4%;
  position: absolute;
  right: 31.21%;
  left: 1.93%;
  bottom: 0.53%;
  top: 33.08%;
  overflow: visible;
}
.vector12 {
  width: 27.07%;
  height: 4.31%;
  position: absolute;
  right: 31.23%;
  left: 41.7%;
  bottom: 1.81%;
  top: 93.88%;
  overflow: visible;
}
.vector13 {
  width: 32.54%;
  height: 8.39%;
  position: absolute;
  right: 34.41%;
  left: 33.05%;
  bottom: 14.93%;
  top: 76.68%;
  overflow: visible;
}
.item-button {
  width: 95.64px;
  height: 38px;
  position: absolute;
  left: 816px;
  top: 38px;
}
.svg3 {
  width: 18px;
  height: 18px;
  position: absolute;
  left: 8px;
  top: 10px;
  overflow: visible;
}
.div10 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  position: absolute;
  left: 34.25px;
  top: 7.01px;
  width: 53.59px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.item-link20 {
  height: 38px;
  position: absolute;
  right: 210px;
  left: 958px;
  top: 38px;
}
.div11 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 15.875px;
  line-height: 22px;
  font-weight: 400;
  position: absolute;
  left: 46px;
  top: 7px;
  width: 66px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.vector14 {
  width: 11.99%;
  height: 47.37%;
  position: absolute;
  right: 70.66%;
  left: 17.36%;
  bottom: 26.32%;
  top: 26.32%;
  overflow: visible;
}
.item-link21 {
  height: 38px;
  position: absolute;
  right: 47px;
  left: 1125px;
  top: 38px;
}
.div12 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 15.875px;
  line-height: 22px;
  font-weight: 400;
  position: absolute;
  left: 31.25px;
  top: 7.01px;
  width: 78.08px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.img4 {
  width: 18px;
  height: 18px;
  position: absolute;
  left: 8px;
  top: 9.01px;
  overflow: visible;
}
